
// Tree View
// -------------------

// Used to explore and open files in the current project.
// Overrides: atom/tree-view
@import 'ui-variables';


.tree-view-resizer {
  border-right: 1px solid @base-border-color;
}

.list-item > .name,
.list-item > .icon::before {
  color: @text-color;
}

.status-modified > .name,
.status-modified > .icon::before {
  color: @text-color-warning;
}

.status-added > .name,
.status-added > .icon::before {
  color: @text-color-success;
}

.status-removed > .name,
.status-removed > .icon::before {
  color: @text-color-error;
}

// Added and removed directories should get the standard treatment. Changed
// directories should look normal; only the files inside them that have changed
// should get the colored text.
.list-nested-item.status-modified {
  color: @text-color;
}

// .list-tree {
//   .pinstripe(
//     hsla(@base-hue, 60%, @base-lightness, 0.15),
//     hsla(@base-hue, 60%, @base-lightness, 0),
//   );
// }

.tool-panel {
  .pinstripe(
    hsla(@base-hue, 60%, @base-lightness, 0.25),
    hsla(@base-hue, 60%, @base-lightness, 0),
  );
}

.atom-dock-resize-handle.left,
.atom-dock-resize-handle.right {
  width: 4px;
  background-image: linear-gradient(
    to right,
    fade(darken(@tree-view-border-color, 40%), 50%) 0%,
    fade(darken(@tree-view-border-color, 40%), 50%) 49%,
    rgba(0, 0, 0, 0) 50%
  );
}

.tree-view {
  color: @text-color;
  // background-color: @tree-view-background-color;
  background-color: transparent;
  // The selected item should have its icons change color along with the text.
  // As it happens, this requires lots of rules.
  .list-nested-item.selected > .list-item {
    & > .name {
      color: @text-color-selected !important;
    }

    & > .icon:before {
      color: @text-color-selected !important;
    }
  }

  .list-tree {
    .selected::before {
      background-color: @background-color-selected;
    }
  }

  .list-tree.has-collapsable-children .list-nested-item > .list-tree > li,
  .list-tree.has-collapsable-children .list-nested-item > .list-group > li {
    padding-left: 12px;
  }

  .list-item {
    &.selected > .name {
      color: @text-color-selected !important;
    }

    &.selected > .icon:before {
      color: @text-color-selected !important;
    }
  }

  .list-nested-item .list-item:not(.status-modified) {
    // color: @text-color;
  }

  .list-nested-item.selected {
    .list-item:not(.selected) > .name {
      // color: inherit;
    }
  }

}

.list-tree.has-collapsable-children .list-nested-item > .list-item::before {
  top: 0px;
}
